<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"  />  
  <package id="ccleaner"  />
  <package id="chocolatey"  />
  <package id="chocolatey-core.extension"  />
  <package id="chocolateygui"  />
  <package id="Firefox"  />
  <package id="GoogleChrome"  />
  <package id="chromium" />
  <package id="brave" />
  <package id="keepass.install"  />
  <package id="libreoffice-fresh"  />
  <package id="onlyoffice" />
  <package id="notepadplusplus.install"  /> 
  <package id="qbittorrent"  />
  <package id="teamviewer"  /> 
  <package id="thunderbird"  />
  <package id="virustotaluploader"  />
  <package id="vlc"  /> 
  <package id="dropbox" />
  <package id="spotify" />
  <package id="gimp" />

<!-- DEV PACKAGES  -->
<!-- <package id="git"  /> -->
<!-- <package id="nodejs-lts"  /> -->
<!-- <package id="vscode"  /> -->
<!-- <package id="mobaxterm"  /> -->
<!-- <package id="insomnia-rest-api-client" /> -->
<!-- <package id="XAMPP-80" /> -->

<!-- ADVANCED PACKAGES  -->
<!-- <package id="fraps" /> -->
<!-- <package id="slack" />   -->
<!-- <package id="discord.install" /> -->
<!-- <package id="audacious" /> -->
<!-- <package id="openhardwaremonitor"  /> -->
<!-- <package id="veracrypt"  /> -->
<!-- <package id="truecrypt" /> -->
<!-- <package id="pdfsam.install"  /> -->
<!-- <package id="teracopy"  /> -->
<!-- <package id="youtube-dl-gui.install" /> -->
<!-- <package id="windirstat"  /> -->
<!-- <package id="cmder"  /> -->
<!-- <package id="virtualbox"  /> -->
<!-- <package id="winscp.install"  /> -->
<!-- <package id="wincdemu"  /> -->
<!-- <package id="rufus"  /> -->
<!-- <package id="win32diskimager.install"  /> -->
<!-- <package id="putty.install"  /> -->
<!-- <package id="tightvnc"  /> -->
<!-- <package id="advanced-ip-scanner"  /> -->
<!-- <package id="freeplane"  /> -->
<!-- <package id="syncbackfree" /> -->

<!-- FOR MACHINE WITH GOOD PERFORMANCE AND GOOD INTERNET CONNECTION  -->
<!-- <package id="choco-upgrade-all-at-startup"  /> -->

</packages>

<!-- NOT CHOCOLATEY -->

  <!-- BASIC -->

    <!-- -avira antivir (https://www.avira.com/fr/downloads) -->
    <!-- -Revo uninstaller (https://www.revouninstaller.com/) -->
    <!-- -Whatsapp -->
    <!-- -Messenger -->  

  <!-- DEV -->

    <!-- -Postman -->

  <!-- ADVANCED -->

    <!-- -Trello -->
    <!-- -VirtualBox extension Pack (https://www.virtualbox.org/wiki/Downloads) -->
    <!-- -Steam -->
    <!-- -Zint (https://sourceforge.net/projects/zint/files/zint/) -->
    <!-- -Syncback Pro V8 (https://www.2brightsparks.com/downloads-legacy.html) -->
    <!-- -Plex -->
    <!-- -Mystiq (https://github.com/swl-x/MystiQ) -->